body{
   background-image:url(./My_pic.jpg);
}


.countdownContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
    text-align: center;
    background:white;
    border-radius: 10px;
    height: 300px;
    width: 800px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}



.info{
    font-size: 80px;
    color: yellowgreen;


}
.vic{

    font-size: 80px;
    color:black;

}
h1{
    
}

#name{
    
    color: coral;
    font-family: cursive;
    font-size: 70px;
}

.description{
    color: goldenrod;
    font-size: 40px;
}

#head{
    margin-top: 50px;
    text-align: center;
    background-color: blue;
    color:white;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 700;
}

@media(max-width:800px){
    #head{
        font-size: 20px;
        background-color: none;
    }
    .countdownContainer{
        width: 220px;
        height: 270px;
    }
    #name{
        font-size: 30px;
    }
    .info{
        font-size: 35px;
    }
    .description{
        font-size: 27px;
    }
    .description td{
        padding: 0 5px;
    }
}

@media(max-width:800px){
    #head{
        font-size: 20px;
        background-color: none;
    }
    .countdownContainer{
        width: 220px;
        height: 270px;
    }
    #name{
        font-size: 30px;
    }
    .info{
        font-size: 35px;
    }
    .description{
        font-size: 27px;
    }
    .description td{
        padding: 0 5px;
    }
}
@media(max-width:400px){
    #head{
        font-size: 20px;
        background-color: none;
    }
    .countdownContainer{
        width: 180px;
        height: 230px;
    }
    #name{
        font-size: 25px;
    }
    .info{
        font-size: 30px;
    }
    .description{
        font-size: 22px;
    }
    .description td{
        padding: 0 3px;
    }
}

#foot{
    text-align: center;
    color:rgb(47, 255, 64);
    font-size: 3rem;
   


}

span{

    color: red;
}


